@charset "UTF-8";
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'DIN Alternate',YuGothic,'Yu Gothic', 'Arial','noto sans',sans-serif;
    font-size: 1.6rem;
    background: #000;
    color: #b3b3b3;
}
body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}
h1{
    margin: 0;
}
h2 {
    margin: 0;
    font-size: 4.8rem;
    padding-left: 3.5rem;
}
h3 {
    margin: 0;
    text-align: center;
    color: #d8d8d8;
}
img{
    vertical-align: baseline;
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
ul {
    padding: 0;
    list-style: none;
}
.line{
    height: 2px;
    background-color: #ffffff;
    border: none;
    text-align: left;
    width: 32%;
    margin: 3rem 0 7rem;
}
section {
    margin-bottom:14rem;
}
.all_container {
    background-color:#000;
    color: #ffffff;
    height: auto;
}

.anchor{
        display: block;
        padding-top: 10rem;
        margin-top: -10rem;
}

header {
    align-items: center;
    background: #000000;
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 18;
}

header .inner {
    display: flex;
}

header .flexbox , .sns {
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header .logo-img img{
    width: 72%;
    margin-left: 3.5rem;
    padding-top: -5rem;
}
.nav-global{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin-right: 2.5rem;
}
.nav-global ul{
    margin-left: 2rem;
}
.nav-global li {
    margin-right: 37px;
    font-size: 1.6rem;
}
.nav-global li:last-child {
    margin-right: 0;
}
.nav-global a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.nav-global a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .1.5s;
}
.nav-global a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
.nav-global img{
    width: 80%;
}
.nav-global .sns li{
    margin-right: 1rem;
}
header .nav_sp {
    display: none;
}

/** ハンバーガー用  **/
header .cp_fullscreenmenu{
display: none;
}
* {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
text-decoration: none;
color: inherit;
}
input {
display: none;
}
.cp_fullscreenmenu {
position: fixed;
z-index: 1;
top: 1.5rem;
right: 1rem;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #000000;
}
.cp_fullscreenmenu .menu label {
position: absolute;
top: 20px;
right: 20px;
width: 30px;
height: 30px;
cursor: pointer;
background-size: 100%;
}
.cp_fullscreenmenu .menu .menucont {
font-size: 5vw;
position: relative;
top: 50%;
margin-top: -170px;
padding-bottom: 20px;
text-align: center;
}
.cp_fullscreenmenu .menu ul {
margin: 0 auto;
padding: 0;
list-style: none;
}
.cp_fullscreenmenu .menu ul li,
.cp_fullscreenmenu .menu ul li a {
transition: all 0.3s ease;
}
.cp_fullscreenmenu .menu ul li a {
display: block;
padding: 3rem 0;
color: #ffffff;
}
.cp_fullscreenmenu .menu ul li a:hover {
color: #000000;
}
.cp_fullscreenmenu .menu ul li:hover {
background: #ffffff;
}
/*クリックしたらメニューが開閉の動作*/
.cp_fullscreenmenu .menuEffects {
visibility: hidden;
transition: opacity 0.5s, visibility 0.5s;
opacity: 0;
}
.cp_fullscreenmenu .menuEffects ul {
transition: all 0.5s;
transform: translateY(0%);
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects {
visibility: visible;
transition: opacity 0.5s;
opacity: 0.9;
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects ul {
opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open {
background-color: transparent;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:before {
position: absolute;
z-index: 1;
top: 0;
right: 0;
content: '';
transform: rotate(45deg);
background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:after {
position: relative;
z-index: 1;
top: 0;
right: 0;
content: '';
transform: rotate(-45deg);
background-color: #ffffff;
}
.cp_fullscreenmenu #menuToggle:not(:checked) ~ .menuEffects ul {
transform: translateY(-30%);
}
/*ハンバーガー*/
.cp_fullscreenmenu .hamburger {
position: relative;
top: 0;
right: 0;
display: block;
width: 50px;
height: 50px;
padding: 15px;
cursor: pointer;
z-index: 100;
}
.cp_fullscreenmenu .hamburger:hover .open:before {
top: -9px;
}
.cp_fullscreenmenu .hamburger:hover .open:after {
top: 5px;
}
.cp_fullscreenmenu .open,
.cp_fullscreenmenu .open:before,
.cp_fullscreenmenu .open:after {
position: relative;
display: block;
width: 24px;
height: 2px;
border-radius: 2px;
background-color: #ffffff;
transition: all 0.3s ease;
}
.cp_fullscreenmenu .open {
top: 8px;
cursor: pointer;
}
.cp_fullscreenmenu .open:before {
top: -8px;
content: '';
transform: rotate(0deg);
}
.cp_fullscreenmenu .open:after {
top: 6px;
content: '';
}
/** ハンバーガー用  **/

.visual{
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100.55vh;
    margin-bottom: 14rem;
}
.visual .visualimg {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;

}
.visual .visualimg{
	animation-name: album;
	-webkit-animation-name: album;
	animation-duration: 30s;
	-webkit-animation-duration: 30s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}
.visual .src1 {
	display: block;
	margin: 0 auto;
}
.visual .src2 {
	animation-delay:10s;
	-webkit-animation-delay:10s;
	position: absolute;
	top: 0;
}
.visual .src3 {
	animation-delay:20s;
	-webkit-animation-delay:20s;
	position: absolute;
	top: 0;
}
@keyframes album {
	0% {opacity: 0;}
	12.5% {opacity: 1;}
	37.5% {opacity: 1;}
	50% {opacity: 0;}
}
@-webkit-keyframes visual {
	0% {opacity: 0;}
	12.5% {opacity: 1;}
	37.5% {opacity: 1;}
	50% {opacity: 0;}
}

.sp_visual{
    display: none;
}
.content{
    padding: 0 7rem;
}
#about .cnt_column p{
    font-size: 2rem;
    line-height: 2.3;
    padding-top: 9rem;
    display: inline-block;
    text-align: left;
    padding-right: 2.5rem;

}
#about ul{
    padding-top: 3rem;
}
#about li{
    list-style-type: none;
    font-size: 2rem;
    line-height: 2.3;
    color: #b3b3b3;
}
#about .cnt_column h3{
    display: block;
    text-align: center;
}
.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
}

.column .cnt_column {
    width: 50%;
    text-align: center;
}

.column .cnt_column h2{
    text-align: center;
    padding-top: 6rem;
}
.exhibition{
    display: block;
    margin-top: 14rem;
    padding-right: 2.5rem;
}
.exhibition h3{
    display: block;
    text-align: center;
    padding-bottom: 1.5rem;

}
.exhibition .exhibition_line{
    border-top: 2px solid #ffffff;
    text-align: center;
    width: 40%;
}
.column .date{
    color: #fff;
}
.award{
    display: block;
    margin-top: 14rem;
    padding-left: 2.5rem;
}
.award h3{
    display: block;
    text-align: center;
    padding-bottom: 1.5rem;
}
.award .award_line{
    border-top: 2px solid #ffffff;
    text-align: center;
    width: 26%;
}
.margin-indent{
    margin-left: 7rem;
}

#news ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#news ul h3{
    font-size: 2.8rem;
    padding: 2rem 0;
}
#news li :nth-of-type(2){
    padding-right: 4rem;
}
#news p{
    font-size: 2rem;
    text-justify: inter-ideograph;
    font-feature-settings: "palt";
    color: #b3b3b3;
}
#news .cnt_column{
    position: relative;
    overflow: hidden;
}
#news .cnt_img .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;	/* マスクを表示しない */
	background-color: rgba(0,0,0,0.6);
	-webkit-transition:	all 0.6s ease;
	transition:	all 0.6s ease;
}
#news .cnt_img .caption {
	font-size: 3rem;
	text-align: center;
	color:#fff;
}
#news .cnt_img:hover .mask {
	opacity: 1;	/* マスクを表示する */
	padding-top: 20rem;	/* ホバーで下にずらす */
}
#work .column{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
#work .contents{
    margin-left: auto;
    margin-right: auto;
}
#work .work_contents{
    flex: 0 0 30%;
    position: relative;
    overflow: hidden;
}
#work .modal-syncer img{
    width: 51.682vh;
}
#work .work_contents .pc{
    display: block;
}
#work .work_contents .sp{
    display: none;
}
.icon {
    display: inline;
}
.icon ul li{
    display: inline;
    padding-right: 0.5rem;
}
#work .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;	/* マスクを表示しない */
	background-color: rgba(0,0,0,0.6);
	-webkit-transition:	all 0.6s ease;
	transition:	all 0.6s ease;
}
#work .work_contents .caption {
	font-size: 3rem;
	text-align: center;
	color:#fff;
}
#work .work_contents:hover .mask {
	opacity: 1;	/* マスクを表示する */
	padding-top: 18rem;	/* ホバーで下にずらす */
}
.modal-content {
    width: 60%;
	margin: 0 ;
    padding: 7rem 6rem;
    font-size: 4.8vw;
    color: #000000;
	background: #fff ;
	position: fixed ;
	display: none ;
    z-index: 20;
    overflow: scroll;
    max-height: calc(100vh - 1.5rem);
}
.modal-content h2{
    position: relative;
    z-index: 22;
    top: 8rem;
}
.modal-close-top{
    position: relative;
    z-index: 21;
    top: -6rem;
    margin: 0 0 0 auto;
}
.modal-content .title_en{
    display: block;
    padding-bottom: 2rem;
    position: relative;
    z-index: 21;
    top: 8rem;
}
.modal-content .title_line{
    border-top: 2px solid #000000;
    text-align: left;
    margin-left: -6rem;
    width: 66.25%;
    margin-top: 0;
}
.modal-content img{
    width: 100%;
    margin-bottom: 2rem;
}
.modal-content p{
    font-size: 2rem;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
    /* -ms-text-justify: inter-ideograph; */
    word-break: normal;
    word-wrap: break-word;
    font-feature-settings: "palt";
}
#modal-overlay {
	z-index: 19;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}
.modal_youtube{
    margin: 3rem 0;
}
.button-link {
    display: flex;
    justify-content: center;
    font-size: 6rem;
	color: #000000 ;
    text-decoration: none ;
    padding-bottom: 5rem;
}
.button-link-pc{
    display: flex;
    justify-content: center;
    font-size: 6rem;
	color: #000000 ;
    text-decoration: none ;
    padding-bottom: 5rem;
}
#modal-content-01 h2{
    font-size: 4rem;
}
#contact p{
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
    text-justify: inter-ideograph;
    word-break: normal;
    word-wrap: break-word;
    font-feature-settings: "palt";
    color: #b3b3b3;
}
footer {
    height: 5.6rem;
    line-height: 56px;
    text-align: right;
    margin: 0 14rem 14rem;
}
footer small{
    font-size: 2rem;
    color: #b3b3b3;
}

/* ブラウザサイズが 1280px以下の時 */
/* ブラウザサイズが 850px以下の時 スマホ
ヘッダーのSNSが見えるギリギリサイズ(5/22現在)*/
@media all and (max-width: 850px) {
h2{
    font-size: 5rem;
}
p{
    margin:0;
}
header{
    height: 8rem;
}
header h1{
    width: 30rem;
    padding-top: 2rem;
}
header .nav-global{
    display: none;
}
header .nav_sp{
    display: block;
}
header .cp_fullscreenmenu{
    display: block;
}
header .logo-img img {
    width: 24rem;
    margin-left: 1.8rem;
}
.line{
    width: 45%;
}
.sp_visual{
    display: block;
}
.visual{
    display: none;
}
.sp_visual{
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    margin-bottom: 14rem;
}
.sp_visual .visualimg{
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation: bgAnime 12s infinite;
}
.sp_visual .src2{
    animation-delay: 4s;
}
.sp_visual .src3{
    animation-delay: 8s;
}
@keyframes bgAnime {
    0% { opacity: 0; }
    4% { opacity: 1; }
   25% { opacity: 1; }
   29% { opacity: 1; }
  100% { opacity: 0; }
}
.content{
    padding: 0;
}
.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
}
.column .cnt_img {
    width: 100%;
}
.column .cnt_img img {
    height: 100%;
}
.column .cnt_column {
    width: 100%;
    padding-bottom: 6rem;
}
#about .cnt_column h2{
    padding-right: 3.5rem;
}
#about .cnt_column p{
    font-size: 1.3rem;
    padding: 4rem 2rem 0;
}
#about .exhibition{
    margin: 9rem 2rem 0;
    text-align: center;
	display: block;
}
#about .exhibition ul{
	padding-left: 0;
    display: inline-block;
}
#about .exhibition ul li {
    padding: 0 1rem;
    font-size: 1.3rem;
    text-align: left;
}
#about .award{
    padding: 0 2rem;
    text-align: center;
	display: block;
}
#about .award ul{
	padding-left: 0;
    display: inline-block;
}
#about .award ul li {
    padding: 0 1rem;
    font-size: 1.3rem;
    text-align: left;
}
.column_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
}
#news li{
    padding: 0 0 9rem;
    width: 100%;
}
#news li :nth-of-type(2){
    padding: 0 2rem;
}
#news ul h3 {
    font-size: 2rem;
    padding: 2rem 0;
}
#news p{
    font-size: 1.3rem;
}
#work .work_contents .pc{
    display: none;
}
#work .button-link-pc{
    display: none;
}
#work .work_contents .sp{
    display: block;
    width: 100%;
}
.modal-close-top{
    position: relative;
    z-index: 21;
    top: -3rem;
    right: 2rem;
    margin: 0 0 0 auto;
}
.modal-content {
    width: 100%;
    padding: 3rem 0;
}
.modal-content p{
    font-size: 1.3rem;
    padding: 2rem;
}
#modal-content-01 h2{
    font-size: 2rem;
}
#contact p{
    font-size: 1.3rem;
}
footer{
    height: 5.6rem;
    line-height: 56px;
    text-align: center;
    margin: 9rem 0;
}
footer small{
    font-size: 1.3rem;
}
}
