.hero{
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vw;
  margin-bottom: 7rem;
  overflow: hidden;

  .heroimg{
    position: absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    -webkit-animation: fadein 24s 0s infinite;
    animation: fadein 24s 0s infinite;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 1) inset;
  }

  @mixin sphero{
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  .src1 {
    @include sphero;
    background-image: url(../img/sp_anime01.jpg);
  }
  .src2 {
    @include sphero;
    background-image: url(../img/sp_anime02.jpg);
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  .src4 {
    @include sphero;
    background-image: url(../img/sp_anime04.jpg);
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
  }
  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    12%{opacity: 1;}
    37%{opacity: 1;}
    50%{opacity: 0; transform: scale(1.07);}
 }
  @keyframes fadein {
    0% { opacity: 0; }
    12%{opacity: 1;}
    37%{opacity: 1;}
    50%{opacity: 0; transform: scale(1.07);}
  }
  .boxString{
    position: absolute;
    display: inline-block;
    padding: 7px;
    bottom: 20%;
    width: 30%;
    opacity: 0;
    border-bottom: 1px solid $cWhite;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
    -webkit-animation: txtfade 24s infinite;
    animation: txtfade 24s infinite;
  }
  h3{
    font-size: 2.5rem;
    font-weight:normal;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
  }
  p{
    font-size:1.5rem;
    line-height:0.95em;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5);
  }
  @mixin txtanime{
    font-size: 2rem;
    color: $cWhite;
    text-align: center;
  }
  .txt1{
    @include txtanime;
  }
  .txt2{
    @include txtanime;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
  }

  .txt4{
    @include txtanime;
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
  }

  @-webkit-keyframes txtfade {
    0% {opacity: 0;}
    18%{opacity: 1;}
    37%{opacity: 1;}
    50%{opacity: 0;}
  }
  @keyframes txtfade {
    0% {opacity: 0;}
    18%{opacity: 1;}
    37%{opacity: 1;}
    50%{opacity: 0;}
  }
  }