#work {
    h2 {
      background-image: url(../img/sp_h2_work.svg);
      background-repeat: no-repeat;
      background-position-x: 2rem;
      background-size: 12rem;
      padding-bottom: 1rem;
    }
    .work_contents{
      display: none;
    }

    .work_contents_sp{
      display: block;
      width: 100%;

    figure{
      margin: 0;
    }

    p{
      font-size: 1.1rem;
      margin-bottom: 1rem;
      text-align: right;
    }
    }
  }