@charset "UTF-8";
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  37% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale(1.07); } }
@keyframes fadein {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  37% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale(1.07); } }
.hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vw;
  margin-bottom: 7rem;
  overflow: hidden; }
  .hero .heroimg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-animation: fadein 24s 0s infinite;
    animation: fadein 24s 0s infinite; }
  .hero:after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 47px 0px black inset; }
  .hero .src1 {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-image: url(../img/sp_anime01.jpg); }
  .hero .src2 {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-image: url(../img/sp_anime02.jpg);
    -webkit-animation-delay: 8s;
    animation-delay: 8s; }
  .hero .src3 {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-image: url(../img/sp_anime03.jpg);
    -webkit-animation-delay: 16s;
    animation-delay: 16s; }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  37% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale(1.07); } }
@keyframes fadein {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  37% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale(1.07); } }
  .hero .boxString {
    position: absolute;
    display: inline-block;
    padding: 7px;
    bottom: 20%;
    width: 30%;
    opacity: 0;
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    -webkit-animation: txtfade 24s infinite;
    animation: txtfade 24s infinite; }
  .hero h3 {
    font-size: 2.5rem;
    font-weight: normal;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5); }
  .hero p {
    font-size: 1.5rem;
    line-height: 0.95em;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5); }
  .hero .txt1 {
    font-size: 2rem;
    color: #fff;
    text-align: center; }
  .hero .txt2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    -webkit-animation-delay: 8s;
    animation-delay: 8s; }
  .hero .txt3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    -webkit-animation-delay: 16s;
    animation-delay: 16s; }
@-webkit-keyframes txtfade {
  0% {
    opacity: 0; }
  18% {
    opacity: 1; }
  37% {
    opacity: 1; }
  50% {
    opacity: 0; } }
@keyframes txtfade {
  0% {
    opacity: 0; }
  18% {
    opacity: 1; }
  37% {
    opacity: 1; }
  50% {
    opacity: 0; } }
#about h2 {
  background-image: url(../img/sp_h2_about.svg);
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-size: 12rem;
  padding-bottom: 1rem; }
#about .column {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
#about .column_reverse {
  flex-direction: column-reverse; }
#about .cnt_column {
  width: 100%;
  padding-bottom: 6rem;
  text-align: center; }
#about h3 {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.1em; }
#about p {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  padding-bottom: 3rem; }
  #about p:nth-of-type(2) {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
    padding-bottom: 0; }
#about .exhibition, #about .award {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0 2rem 6rem; }
#about .colum h3 {
  border-bottom: 1px solid #fff;
  width: 32%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }
#about .exhibition h3 {
  display: block;
  padding-bottom: 5px;
  background-size: 10rem;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #fff;
  width: 10rem;
  height: 2.8rem;
  margin: 0 auto;
  background-image: url(../img/sp_h3_exhibi.svg); }
#about .award {
  padding: 0 2rem 6rem; }
#about .award h3 {
  display: block;
  padding-bottom: 5px;
  background-size: 10rem;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #fff;
  width: 10rem;
  height: 2.8rem;
  margin: 0 auto;
  background-image: url(../img/sp_h3_award.svg); }
#about dl {
  display: flex;
  width: 34em;
  margin: 0 auto;
  padding-top: 2rem;
  font-size: 1.1rem;
  flex-wrap: wrap;
  align-items: baseline; }
  #about dl dt {
    width: 14%;
    color: #d8d8d8; }
  #about dl dd {
    width: 86%;
    margin-inline-start: 0;
    padding-bottom: 8px;
    text-align: left; }
#about dd {
  color: #b3b3b3; }
  #about dd:after {
    display: block;
    content: "";
    clear: both; }

/** ABOUT要素 **/
#news {
  /** 以下slick関連 **/ }
  #news h2 {
    background-image: url(../img/sp_h2_news.svg);
    background-repeat: no-repeat;
    background-position-x: 2rem;
    background-size: 12rem;
    padding-bottom: 1rem; }
  #news h3 {
    padding: 1.5rem 0; }
  #news ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #news li {
    padding: 0 0 9rem;
    width: 100%; }
  #news li :nth-of-type(2) {
    padding: 0 2rem; }
  #news .cnt_column {
    position: relative;
    overflow: hidden;
    padding: 1rem; }
  #news .texts {
    text-align: center; }
  #news ul h3 {
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
    font-weight: lighter; }
  #news p {
    font-size: 1.3rem;
    padding-top: 5px;
    text-justify: inter-ideograph;
    font-feature-settings: "palt";
    color: #b3b3b3;
    text-align: center; }
  #news .prev-arrow:hover, #news .next-arrow:hover, #news .next-arrow:hover {
    opacity: 0.5; }
  #news .prev-arrow, #news .next-arrow {
    position: absolute;
    width: 7rem;
    height: 26rem;
    top: 0;
    margin: 11rem 0;
    background-image: url(../img/arrow_previous.png);
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: center;
    z-index: 2; }
  #news .next-arrow {
    right: 0;
    background-image: url(../img/arrow_next.png); }
  #news button {
    position: relative;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: -9999px; }
    #news button:before {
      position: absolute;
      content: '○';
      font-size: 1.5rem;
      text-indent: 0px;
      top: 0;
      left: 0; }
  #news .slick-dotted {
    margin: 0; }
  #news .slick-active button:before {
    content: '●'; }
  #news .dots {
    position: relative;
    display: flex;
    justify-content: center; }
  #news .slide-dots li {
    display: inline-block;
    padding: 0 1.8rem; }

/** NEWS要素 **/
#work h2 {
  background-image: url(../img/sp_h2_work.svg);
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-size: 12rem;
  padding-bottom: 1rem; }
#work .work_contents .sp_img {
  display: block;
  width: 100%; }
#work .work_contents .image01 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work01.jpg); }
#work .work_contents .image02 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work02.jpg); }
#work .work_contents .image03 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work03.jpg); }
#work .work_contents .image04 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work04.jpg); }
#work .work_contents .image05 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work05.jpg); }
#work .work_contents .image06 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work06.jpg); }
#work .work_contents .image07 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work07.jpg); }
#work .work_contents .image08 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work08.jpg); }
#work .work_contents .image09 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work09.jpg); }
#work .work_contents .image10 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work10.jpg); }
#work .work_contents .image11 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work11.jpg); }
#work .work_contents .image12 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work12.jpg); }
#work .work_contents .image13 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work13.jpg); }
#work .work_contents .image14 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work14.jpg); }
#work .work_contents .image15 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work15.jpg); }
#work .work_contents .image16 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work16.jpg); }
#work .work_contents .image17 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work17.jpg); }
#work .work_contents .image18 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work18.jpg); }
#work .work_contents .image19 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work19.jpg); }
#work .work_contents .image20 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work20.jpg); }
#work .work_contents .image21 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work21.jpg); }
#work .work_contents .image22 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work22.jpg); }
#work .work_contents .image23 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work23.jpg); }
#work .work_contents .image24 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work24.jpg); }
#work .work_contents .image25 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work25.jpg); }
#work .work_contents .image26 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work26.jpg); }
#work .work_contents .image27 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work27.jpg); }
#work .work_contents .image28 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work28.jpg); }
#work .work_contents .image29 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work29.jpg); }
#work .work_contents .image30 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vw;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../img/sp_work30.jpg); }
#work .work_contents .caption {
  display: none; }
#work .work_contents h6 {
  margin: 0 0 1.5rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: lighter; }

#work .modal-content {
  color: #000;
  background: #fff;
  position: fixed;
  width: 100%;
  max-height: calc(100vh - 1.5rem);
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20; }
  #work .modal-content .button-link > .modal-close-top {
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-indent: 100%;
    z-index: 21;
    background-image: url(../img/close_top.gif);
    background-size: 2rem;
    width: 22px;
    height: 22px;
    margin: 5rem 4rem 0 auto; }
  #work .modal-content .modal-close-top:hover {
    background-image: url(../img/close_top_hover.gif); }
  #work .modal-content .button-link > .modal-close-bottom {
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-indent: 100%;
    width: 124px;
    height: 28px;
    background-size: 12rem;
    background-image: url(../img/close_bottom.gif);
    max-width: 50%;
    margin: 3rem auto; }
  #work .modal-content .modal-close-bottom:hover {
    background-image: url(../img/close_bottom_hover.gif); }
  #work .modal-content h3 {
    text-align: left;
    font-size: 3rem;
    font-weight: lighter;
    padding: 4rem 0 0 3.5rem; }
  #work .modal-content h4 {
    font-size: 1.3rem;
    width: 50%;
    border-bottom: 1px solid #000;
    margin-bottom: 3rem;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0 2rem 3.8rem; }
  #work .modal-content .contaier {
    padding: 2rem 3rem 7rem; }
  #work .modal-content img {
    width: 100%;
    margin-bottom: 2rem; }
  #work .modal-content p {
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    word-break: normal;
    word-wrap: break-word;
    font-feature-settings: "palt";
    padding-bottom: 2rem; }
  #work .modal-content .movie-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 3rem; }
    #work .modal-content .movie-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #work .modal-content .modal-content p:nth-of-type(2) {
    padding-bottom: 2rem; }

#contact h2 {
  background: url(../img/h2_contact.svg) no-repeat;
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-size: 12rem;
  padding-bottom: 1rem; }
#contact .content {
  max-width: 86%; }
#contact dl {
  display: flex;
  flex-wrap: wrap; }
#contact dt {
  width: 12rem;
  font-size: 1.3rem;
  color: #b3b3b3;
  padding-bottom: 0.7rem; }
#contact dd {
  width: 70rem;
  font-size: 1.5rem;
  margin-inline-start: 0;
  padding-bottom: 2.3rem; }
#contact dt:nth-of-type(6) {
  padding: initial;
  text-indent: -9999px; }
#contact dd:nth-of-type(5) {
  padding: initial; }
#contact dd:nth-of-type(6) {
  width: 100%; }
#contact .g_form {
  width: 100%;
  height: 3.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-style: none;
  background-color: #b3b3b3;
  padding: 12px; }
#contact .g_form_text {
  width: 100%;
  height: 18rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 13px;
  box-sizing: border-box;
  display: block;
  border-style: none;
  background-color: #b3b3b3;
  color: #000; }
#contact .input {
  -webkit-appearance: none;
  border-radius: 0; }
#contact textarea {
  -webkit-appearance: none;
  border-radius: 0; }
#contact .btbt {
  position: relative;
  width: 100%;
  height: 5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-style: none;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  background-color: #262626;
  color: #fff; }
  #contact .btbt:hover {
    opacity: 0.7; }

/** CONTACTメニュー **/
header .nav_btn {
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 30; }
  header .nav_btn #menuToggle:checked ~ .menuEffects {
    visibility: visible;
    transition: opacity 0.5s;
    opacity: 1; }
    header .nav_btn #menuToggle:checked ~ .menuEffects ul {
      opacity: 1; }
  header .nav_btn #menuToggle:checked ~ .hamburger .open {
    background-color: transparent; }
    header .nav_btn #menuToggle:checked ~ .hamburger .open:before {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      transform: rotate(45deg);
      background-color: #fff;
      z-index: 30; }
    header .nav_btn #menuToggle:checked ~ .hamburger .open:after {
      position: relative;
      top: 0;
      right: 0;
      content: '';
      transform: rotate(-45deg);
      background-color: #fff;
      z-index: 30; }
  header .nav_btn #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%); }
  header .nav_btn .hamburger {
    display: block;
    position: relative;
    top: 0;
    right: 2rem;
    padding: 5px;
    cursor: pointer;
    z-index: 30; }
    header .nav_btn .hamburger:hover .open:before {
      top: -9px; }
    header .nav_btn .hamburger:hover .open:after {
      top: 8px; }
  header .nav_btn .open {
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
    top: 8px;
    cursor: pointer; }
    header .nav_btn .open:before, header .nav_btn .open:after {
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      transition: all 0.3s ease; }
    header .nav_btn .open:before {
      top: -8px;
      content: '';
      transform: rotate(0deg); }
    header .nav_btn .open:after {
      top: 7px;
      content: ''; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000; }
  .menu label {
    position: absolute;
    top: 2rem;
    right: 20rem;
    width: 30rem;
    height: 30rem;
    cursor: pointer;
    background-size: 100%; }
  .menu .menucont {
    position: relative;
    top: 16%;
    font-size: 2rem;
    text-align: center; }
  .menu ul {
    margin: 0 auto;
    padding: 0;
    list-style: none; }
  .menu .sns {
    display: flex;
    justify-content: center; }
    .menu .sns li {
      width: 3rem;
      margin-right: 2.5rem; }
      .menu .sns li:nth-of-type(3) {
        width: 3rem;
        margin: initial; }
  .menu ul li {
    transition: all 0.3s ease; }
    .menu ul li a {
      transition: all 0.3s ease;
      display: block;
      padding: 2rem 0; }
      .menu ul li a:hover {
        color: #fff; }

.menuEffects {
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0; }
  .menuEffects ul {
    transition: all 0.5s;
    transform: translateY(0%); }

/** ハンバーガーメニュー **/
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #000;
  color: #b3b3b3;
  font-family: 'DIN Alternate',YuGothic,'Yu Gothic','Arial',sans-serif;
  /** modal-multi.jsとリンク **/ }
  body.fixed {
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden; }
  body #modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 19; }

.loader-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 50; }

.loader {
  position: relative;
  z-index: 20; }
  .loader .load_img {
    width: 20rem;
    transform: rotate(360deg);
    transition: 1s;
    animation: rotate-anime 1.7s infinite;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); }
@keyframes rotate-anime {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .loader .load_imgtop {
    position: absolute;
    top: 57px;
    right: 25px;
    bottom: 0;
    width: 16rem;
    height: auto; }
  .loader p {
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem; }

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: baseline; }

html, body, #main {
  height: 100%; }

h1 {
  margin: 0; }

h2 {
  width: 50%;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%; }

h3 {
  margin: 0;
  text-align: center;
  font-weight: lighter; }

h4, h5, p {
  margin: 0; }

h5 {
  font-weight: lighter; }

p {
  font-size: 1rem; }

h4 {
  width: 50%;
  margin-bottom: 3rem;
  padding: 0 0 2rem 3.8rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #000;
  overflow: hidden;
  white-space: nowrap; }

ul {
  padding: 0;
  list-style: none; }

input[type="button"], input[type="text"], input[type="submit"], input[type="image"] {
  -webkit-appearance: none;
  border-radius: 0; }

textarea {
  -webkit-appearance: none;
  border-radius: 0; }

section {
  margin-bottom: 7rem;
  z-index: 5; }

.content {
  max-width: 1280px;
  margin: auto;
  padding: 0 12rem; }

.all_container {
  position: relative;
  top: 5rem;
  background-color: #000;
  color: #fff;
  height: auto;
  overflow-x: hidden; }

.content {
  padding: inherit; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.link-current {
  border-bottom: 1px solid #fff;
  transform-origin: right top;
  transition: transform 0.1 0.5s; }

header {
  position: fixed;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3; }
  header .inner {
    display: flex;
    height: inherit; }
  header .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header h1 {
    width: 25rem;
    height: 2rem;
    margin-left: 3.7rem;
    background-image: url(../img/logo01.png);
    background-repeat: no-repeat;
    background-size: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%; }
  header .nav-global {
    display: none; }
  header .sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto; }
    header .sns li {
      margin-right: 2rem; }
      header .sns li:nth-of-type(3) {
        margin: 0; }
  header #nav-drawer {
    position: relative; }

footer {
  width: 16rem;
  margin: 7rem auto 14rem; }
  footer small {
    font-size: 1.5rem;
    color: #b3b3b3; }

@media (min-width: 1280px) {
  /******************************************************************
  
  Stylesheet: 1280px以上のモニタで適用
  
  ******************************************************************/ }
@media all and (min-width: 1280px) and (min-width: 1280px) {
  /**.hero{
    .boxString{
      bottom: 20%;
    }
  }**/
  #news
  .prev-arrow, #news .next-arrow, .next-arrow {
    margin: 9rem 0; } }
@media all and (min-width: 849px) and (min-width: 849px) {
  h2 {
    width: 30%;
    margin-bottom: 8rem;
    padding-bottom: 2rem; }

  section {
    margin-bottom: 14rem; }

  .content {
    max-width: 1280px;
    margin: auto;
    padding: 0 12rem; }

  /** header **/
  header .nav_btn {
    display: none; }
  header .inner {
    display: flex;
    height: inherit; }
  header .flexbox {
    margin-right: auto; }
  header .nav-global {
    display: inherit;
    justify-content: flex-end;
    overflow: hidden;
    margin-right: 3.7rem; }
  header .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto; }
  header li {
    margin-right: 5.4rem;
    font-size: 1.5rem; }
  header a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none; }
  header .flexbox a:hover {
    color: #fff; }
  header .flexbox a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1); }
  header .flexbox a:nth-of-type(3) {
    margin: 0; }

  /** KV **/
  .hero {
    width: 100%;
    height: 56.25vw;
    margin-bottom: 7.7vw; }
    .hero:after {
      height: 100vh;
      box-shadow: 0px 0px 128px 0px black inset; }
    .hero .src1 {
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      text-indent: -9999px;
      background-image: url(../img/anime01.jpg); }
    .hero .src2 {
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      text-indent: -9999px;
      background-image: url(../img/anime02.jpg);
      -webkit-animation-delay: 8s;
      animation-delay: 8s; }
    .hero .src3 {
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      text-indent: -9999px;
      background-image: url(../img/anime03.jpg);
      -webkit-animation-delay: 16s;
      animation-delay: 16s; }
    .hero .boxString h3 {
      font-size: 3rem; }
    .hero .boxString p {
      font-size: 2rem; }

  /** ABOUT **/
  #about h2 {
    background: url(../img/h2_about.svg) no-repeat;
    background-position-x: 3.5rem;
    background-size: 15rem;
    padding-bottom: 3.5rem; }
  #about p:nth-of-type(2), #about dl {
    font-size: 1.4rem; }
  #about .content {
    padding: 0 12rem 0 8rem; }
  #about .column {
    flex-direction: initial; }
  #about .column_reverse {
    display: flex;
    justify-content: space-between; }
  #about .cnt_column {
    width: 50%;
    height: 50%;
    text-align: center; }

  /** NEWS **/
  #news h2 {
    background: url(../img/h2_news.svg) no-repeat;
    background-position-x: 3.5rem;
    background-size: 15rem;
    padding-bottom: 3.5rem; }
  #news ul {
    flex-direction: initial; }
  #news .cnt_column {
    padding: initial; }
  #news .cnt_img {
    padding: 0 2rem; }
  #news .cnt_img .mask {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #news .cnt_img:hover .mask {
    opacity: 0.8; }
  #news .prev-arrow, #news .next-arrow, #news .next-arrow {
    position: relative;
    top: 0;
    width: 13rem;
    background-size: 2rem;
    height: 10rem;
    margin: 9rem 0;
    background-repeat: no-repeat;
    cursor: pointer; }
  #news .prev-arrow, #news .next-arrow {
    background-image: url(../img/arrow_previous.png);
    background-size: 2rem; }
  #news .next-arrow {
    background-image: url(../img/arrow_next.png);
    background-size: 2rem; }

  /** WORK **/
  #work {
    /** modal **/ }
    #work h2 {
      background: url(../img/h2_work.svg) no-repeat;
      background-position-x: 3.5rem;
      background-size: 15rem;
      padding-bottom: 3.5rem; }
    #work .work_flex {
      display: flex;
      flex: 0 0 30%;
      justify-content: space-between;
      flex-wrap: wrap; }
    #work .work_contents {
      position: relative;
      flex: 0 0 30%;
      margin-bottom: 4rem;
      overflow: hidden;
      cursor: pointer; }
      #work .work_contents .modal-syncer {
        position: relative;
        width: 35rem; }
      #work .work_contents .image01 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work01.jpg); }
      #work .work_contents .image02 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work02.jpg); }
      #work .work_contents .image03 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work03.jpg); }
      #work .work_contents .image04 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work04.jpg); }
      #work .work_contents .image05 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work05.jpg); }
      #work .work_contents .image06 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work06.jpg); }
      #work .work_contents .image07 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work07.jpg); }
      #work .work_contents .image08 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work08.jpg); }
      #work .work_contents .image09 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work09.jpg); }
      #work .work_contents .image10 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work10.jpg); }
      #work .work_contents .image11 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work11.jpg); }
      #work .work_contents .image12 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work12.jpg); }
      #work .work_contents .image13 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work13.jpg); }
      #work .work_contents .image14 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work14.jpg); }
      #work .work_contents .image15 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work15.jpg); }
      #work .work_contents .image16 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work16.jpg); }
      #work .work_contents .image17 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work17.jpg); }
      #work .work_contents .image18 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work18.jpg); }
      #work .work_contents .image19 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work19.jpg); }
      #work .work_contents .image20 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work20.jpg); }
      #work .work_contents .image21 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work21.jpg); }
      #work .work_contents .image22 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work22.jpg); }
      #work .work_contents .image23 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work23.jpg); }
      #work .work_contents .image24 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work24.jpg); }
      #work .work_contents .image25 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work25.jpg); }
      #work .work_contents .image26 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work26.jpg); }
      #work .work_contents .image27 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work27.jpg); }
      #work .work_contents .image28 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work28.jpg); }
      #work .work_contents .image29 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work29.jpg); }
      #work .work_contents .image30 {
        width: 31.2rem;
        height: 31.2rem;
        background-image: url(../img/work30.jpg); }
      #work .work_contents .caption {
        display: block;
        text-align: center;
        padding-top: 12rem;
        color: #fff; }
        #work .work_contents .caption h5 {
          font-size: 2.5rem; }
        #work .work_contents .caption p {
          font-size: 1.8rem; }
    #work .mask {
      width: 31.2rem;
      height: 31.2rem;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    #work .mask:hover {
      opacity: 1; }
    #work h6 {
      display: none; }
    #work .modal-content {
      width: 60%;
      padding: initial; }
      #work .modal-content h3 {
        font-size: 3rem; }
      #work .modal-content p {
        font-size: 1.3rem; }
      #work .modal-content .contaier {
        padding: 2rem 3rem 4rem; }

  /** CONTACT **/
  #contact h2 {
    background: url(../img/h2_contact.svg) no-repeat;
    background-position-x: 3.5rem;
    background-size: 15rem;
    padding-bottom: 3.5rem; }
  #contact .content {
    max-width: 1020px; }
  #contact dt {
    font-size: 1.8rem;
    width: 16%; }
  #contact dd, #contact dd:nth-of-type(6) {
    width: 84%; }
  #contact dd, #contact dd:nth-of-type(5) {
    padding-bottom: 2.3rem; }
  #contact .g_form {
    height: 4rem; }
  #contact .btbt {
    font-size: 2.8rem;
    height: 7rem; } }
@media all and (max-width: 480px) and (max-width: 480px) {
  .hero .boxString h3 {
    font-size: 1.5rem; }
  .hero .boxString p {
    font-size: 1.1rem; }

  #news .prev-arrow, #news .next-arrow, #news .next-arrow {
    width: 4rem;
    height: 15rem;
    background-size: 2rem;
    margin: 5rem 0; } }
@media print {
  /******************************************************************
  
  Stylesheet: プリンタのみに適用
  
  ******************************************************************/ }

/*# sourceMappingURL=index.css.map */
