@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #b3b3b3;
  font-family: "DIN Alternate", YuGothic, "Yu Gothic", "Arial", sans-serif;
}
body.fixed {
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
}

p {
  font-size: 1.3rem;
  padding-top: 5px;
  text-justify: inter-ideograph;
  font-feature-settings: "palt";
  color: #b3b3b3;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: baseline;
}

html, body, #main {
  height: 100%;
}

h1 {
  margin: 0;
}

h2 {
  width: 50%;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

h3 {
  font-size: 2rem;
  padding: 1rem 0 0 0;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

h4, h5, p {
  margin: 0;
}

h5 {
  font-weight: lighter;
}

p {
  font-size: 1rem;
  padding: 0;
}

h4 {
  width: 50%;
  margin-bottom: 3rem;
  padding: 0 0 2rem 3.8rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #000;
  overflow: hidden;
  white-space: nowrap;
}

ul {
  padding: 0;
  list-style: none;
}

header {
  position: fixed;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
header .inner {
  height: inherit;
}
header h1 {
  font-size: 2rem;
  margin: 2rem 0 0 3.7rem;
  overflow: hidden;
  color: #fff;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #fff;
  width: 6rem;
}
header a {
  text-decoration: none;
}

.content {
  top: 5rem;
  position: relative;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 14rem;
}

.cnt_column {
  padding: 1rem;
  margin-bottom: 3rem;
}

footer {
  margin: 7rem 0 14rem;
  text-align: center;
}
footer small {
  font-size: 1.5rem;
  color: #b3b3b3;
}

@media (min-width: 1280px) {
  /******************************************************************

  Stylesheet: 1280px以上のモニタで適用

  ******************************************************************/
}
@media (min-width: 1280px) and (min-width: 1280px) {
  /**.hero{
    .boxString{
      bottom: 20%;
    }
  }**/
  #news .prev-arrow,
.next-arrow {
    margin: 9rem 0;
  }
}
@media (min-width: 849px) and (min-width: 849px) {
  h2 {
    width: 30%;
    margin-bottom: 8rem;
    padding-bottom: 2rem;
  }
  section {
    margin-bottom: 14rem;
  }
  .content {
    max-width: 1280px;
    margin: auto;
    padding: 0 12rem;
  }
  /** header **/
  header .nav_btn {
    display: none;
  }
  header .inner {
    display: flex;
    height: inherit;
  }
  header .flexbox {
    margin-right: auto;
  }
  header a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  /** NEWS **/
  p {
    font-size: 1.3rem;
  }
  ul {
    flex-direction: initial;
  }
  .news_flex {
    display: flex;
    justify-content: space-between;
  }
  .cnt_column {
    padding: initial;
    width: 50%;
    margin-bottom: 6rem;
  }
  .cnt_img {
    padding: 0 2rem;
  }
  /**
    .cnt_img {
      .mask {
        display: flex;
        position: absolute;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        align-items: center;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      &:hover .mask {
        opacity: 0.8;
      }
    }**/
}
@media (max-width: 480px) and (max-width: 480px) {
  .hero .boxString h3 {
    font-size: 1.5rem;
  }
  .hero .boxString p {
    font-size: 1.1rem;
  }
  #news .prev-arrow, #news .next-arrow {
    width: 4rem;
    height: 15rem;
    background-size: 2rem;
    margin: 5rem 0;
  }
}
@media print {
  /******************************************************************

  Stylesheet: プリンタのみに適用

  ******************************************************************/
}/*# sourceMappingURL=news.css.map */