@media all and (max-width: 480px) {
.hero{
    .boxString{
    h3{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.1rem;
    }
    }
}
#news {
    .prev-arrow , .next-arrow{
    width: 4rem;
    height: 15rem;
    background-size: 2rem;
    margin: 5rem 0;
    }
    }
}