p{
    font-size: 1.2rem;
}

@mixin  h2_size {
    width: 20rem;
    height: 4rem;
}

#work h2 , #process h2 , #news h2 , #contact h2{
    @include h2_size;
}

header{
    display: flex;
    background-color: $cWhite;
    margin: auto;

    .inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

.nav_btn{
    display: none;
}

.nav_global{
    display: flex;

    .tel{
        margin-top: 6px;
        margin-right: 2rem;
    }

    li{
        font-size: 1.3rem;
        margin-right: 2rem;
    }

    li:hover{
        color: $cGray;
    }

    p{
        font-size:1.4rem;
    }

    p:nth-of-type(2){
        font-size: 2.5rem;
    }
}
}

.all_container{
    max-width: 1080px;
    margin: auto;
    top:initial;
    background-color: $cWhite;
}

.hero{
    height: 770px;
    top: 60px;

    .hero_img{
    background-image: url(../img/hero_pc.jpg);
    }
}

#corona{
    a{
    font-size: 1.6rem;
    }

    .modal-content{
        width: 50%;
    }
}

    .flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .work_con{
            margin: 2rem;
            width: calc(50% - 100px / 2);
        }
    }

    .column_flex{
    display: flex;
    justify-content: space-around;
    }

    .column_01{
        margin: 0 auto;
    }

    .column_02{
        margin: 0 auto;
    }

    #work{
        p{
            font-size: 1.3rem;
        }

        dl{
            width:40rem;
        }

        dt{
            width:6%;
        }

        .modal-content{
            width: 50%;
            padding: initial;
        }

        #modal-content-05{
            .contaier{
                padding: 2rem;
            }
        }
    }

    #contact{
        .column{
            display: flex;
        }

        h4{
            font-size: 3rem;
        }

        .form{
            max-width: 750px;
            margin: auto;

            dt{
                width: 16%;
            }

            dd{
                width: 70%;
            }

            dd:nth-of-type(6){
                margin-top: 2rem;
            }
        }
    }

    #process{
        li{
            width: 60rem;
            font-size: 2.2rem;
            padding: 1.5rem 10rem;
        }

        img{
            width: 6.5rem;
        }

        .qa{
            margin: 7rem 0;
        }

        .btn{
            font-size: 1.8rem;
            padding: 3rem 3rem;
            width: 60rem;
        }

        .modal-content{
            width: 50%;
        }
    }

    footer{
        width: 100%;

        .flex{
            display: flex;
        }

        .column{
            margin: auto;
        }

        .column_map{
            padding-bottom: initial;
            margin: auto;
        }

        iframe{
            position: relative;
            width: 53rem;
            height: 30rem;
        }

        p{
            padding-bottom: 3rem;
        }
    }