@media all and (min-width: 849px) {
  h2 {
    width: 30%;
    margin-bottom: 8rem;
    padding-bottom: 2rem;
  }
  section {
    margin-bottom: 14rem;
  }

  .content {
    max-width: 1280px;
    margin: auto;
    padding: 0 12rem;
  }

  /** header **/
  header {
    .nav_btn {
      display: none;
    }

    .inner {
      display: flex;
      height: inherit;
    }

    .flexbox {
      margin-right: auto;
    }

    .nav-global {
      display: inherit;
      justify-content: flex-end;
      overflow: hidden;
      margin-right: 3.7rem;
    }

    .flexbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
    }
  
    li {
      margin-right: 5.4rem;
      font-size: 1.5rem;
    }
  
    a {
      display: inline-block;
      position: relative;
      color: $cWhite;
      text-decoration: none;
    }
  
    .flexbox a {
      &:hover {
        color: $cWhite;
      }

  
      &:hover::after {
        transform-origin: left top;
        transform: scale(1, 1);
      }
  
      &:nth-of-type(3) {
        margin: 0;
      }
    }
  }

  /** KV **/
  .hero {
    width: 100%;
    height: 56.25vw;
    margin-bottom: 7.7vw;

    &:after {
      height: 56.25vw;
      box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 1) inset;
    }

  @mixin pc_heroimg{
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  .src1 {
    @include pc_heroimg;
    background-image: url(../img/anime01.jpg);
  }
  .src2 {
    @include pc_heroimg;
    background-image: url(../img/anime02.jpg);
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  .src3 {
    @include pc_heroimg;
    background-image: url(../img/anime03.jpg);
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
  }
  .boxString{
    h3{
      font-size: 3rem;
    }
    p{
      font-size: 2rem;
    }
  }
  }

  /** ABOUT **/
  #about {
  h2 {
    background: url(../img/h2_about.svg) no-repeat;
    background-position-x: 3.5rem;
    background-size: 15rem;
    padding-bottom: 3.5rem;
  }

  p:nth-of-type(2) , dl{
    font-size: 1.3rem;
  }

  .content {
    padding: 0 12rem 0 8rem;
  }

  .column{
    flex-direction: initial;
  }

  .column_reverse {
    display: flex;
    justify-content: space-between;
  }

 .cnt_column {
    width: 50%;
    height: 50%;
    text-align: center;
  }
  
  .exhibition , .award{
    padding :0;
    margin: 0;
  }
  }

/** NEWS **/
#news {
  h2 {
    background: url(../img/h2_news.svg) no-repeat;
    background-position-x: 3.5rem;
    background-size: 15rem;
    padding-bottom: 3.5rem;
  }

  ul{
    flex-direction: initial;
  }

  .cnt_column{
    padding: initial;
  }

  .cnt_img{
    padding: 0 2rem;
  }

  .cnt_img {
    .mask {
      display: flex;
      position: absolute;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      align-items: center;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &:hover .mask {
      opacity: 0.8;
    }
  }

  .prev-arrow, .next-arrow {
    position: relative;
    top: 0;
    width: 18rem;
    background-size: 2rem;
    height: 10rem;
    margin: 9rem 0;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .prev-arrow {
    background-image: url(../img/arrow_previous.png);
    background-size: 2rem;
  }
  
  .next-arrow {
    background-image: url(../img/arrow_next.png);
    background-size: 2rem;
  }
}
/** WORK **/
#work{
h2 {
  background: url(../img/h2_work.svg) no-repeat;
  background-position-x: 3.5rem;
  background-size: 15rem;
  padding-bottom: 3.5rem;
}

/** modal **/
.modal-content{
  width: 60%;
  padding: initial;

  h3{
    font-size: 3rem;
  }
  p{
    font-size: 1.3rem;
  }
  .contaier{
    padding: 2rem 3rem 4rem;
  }
}

.work_contents_sp{
  display: none;
}

.content_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work_contents{
  display: block;
  box-sizing: border-box;
  margin: 0 30px 30px 0;
  width: calc(33.333333% - 100px / 3);
}

.work_content:nth-child(3n){
  margin-right: 0;
}

.work_content:nth-child(6n){
  margin-right: 0;
}

.work_content:nth-child(9n){
  margin-right: 0;
}
figure {
  position: relative;
  overflow: hidden;
  margin: 0;
}
figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;

  h6{
    display: block;
    font-size: calc(1.5rem + 0.8vw);
    font-weight: lighter;
    margin: 8.3vw auto 1rem;
  }

  p{
    font-size: calc(1rem + 0.3vw);
  }
}
figure:hover figcaption {
  opacity: 1;
}

.modal-syncer{
  position: relative;
  width: 35rem;
}
}

/** CONTACT **/
#contact{
  h2 {
    background: url(../img/h2_contact.svg) no-repeat;
    background-position-x: 3.5rem;
    background-size: 15rem;
    padding-bottom: 3.5rem;
  }
  .content {
    max-width: 1020px;
  }
  dt{
    font-size: 1.8rem;
    width: 16%;
  }

  dd , dd:nth-of-type(6){
    width: 84%;
  }

  dd , dd:nth-of-type(5){
    padding-bottom: 2.3rem;
  }

  .g_form{
    height: 4rem;
  }

  .btbt{
    font-size: 2.8rem;
    height: 7rem;
  }
}
}